@using ReservaViajes.Models.Reservas
@using ReservaViajes.Models.Rutas
@model ReservaViajes.Models.Pagos.Pago

@{
    ViewData["Title"] = "VerComprobante";
    Reserva datosReserva = ViewBag.reserva;
    Ruta datosRuta = ViewBag.ruta;
}

<h1>VerComprobante</h1>

<section>
    <h4>Pago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pk_tsal001)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pk_tsal001)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.terminalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.terminalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.transactionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.transactionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.invoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.invoice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.totalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.totalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.taxAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.taxAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.clientEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.clientEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idCliente)
        </dd>
        <dt class="col-sm-2">
            Ruta
        </dt>
        <dd class="col-sm-10">
            @datosReserva.nombreRuta
        </dd>
        <dt class="col-sm-2">
            Asientos
        </dt>
        <dd class="col-sm-10">
            @string.Join(", ", datosReserva.asientosSeleccionados)
        </dd>
        <dt class="col-sm-2">
            Fecha y hora
        </dt>
        <dd class="col-sm-10">
            @datosRuta.fechaRuta
        </dd>
    </dl>
</section>
@* <section>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</section> *@
