@using ReservaViajes.Models.Reservas
@using ReservaViajes.Models.Rutas
@model ReservaViajes.Models.Pagos.Pago

@{
    ViewData["Title"] = "Ver Comprobante";
    Reserva datosReserva = ViewBag.reserva;
    Ruta datosRuta = ViewBag.ruta;
}

<h1>Detalle del Comprobante</h1>

<section class="card border-secondary p-3 my-4">
    <h4 class="card-title">Detalle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 text-muted">
            @Html.DisplayNameFor(model => model.pk_tsal001)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.pk_tsal001)
        </dd>
        <dt class="col-sm-3 text-muted">
            @Html.DisplayNameFor(model => model.idReserva)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.idReserva)
        </dd>
        <dt class="col-sm-3 text-muted">
            @Html.DisplayNameFor(model => model.terminalId)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.terminalId)
        </dd>
        <dt class="col-sm-3 text-muted">
            @Html.DisplayNameFor(model => model.transactionType)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.transactionType)
        </dd>
        <dt class="col-sm-3 text-muted">
            @Html.DisplayNameFor(model => model.invoice)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.invoice)
        </dd>
        <dt class="col-sm-3 text-muted">
            @Html.DisplayNameFor(model => model.totalAmount)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.totalAmount)
        </dd>
        <dt class="col-sm-3 text-muted">
            @Html.DisplayNameFor(model => model.taxAmount)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.taxAmount)
        </dd>
        <dt class="col-sm-3 text-muted">
            @Html.DisplayNameFor(model => model.tipAmount)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.tipAmount)
        </dd>
        <dt class="col-sm-3 text-muted">
            @Html.DisplayNameFor(model => model.clientEmail)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.clientEmail)
        </dd>
        <dt class="col-sm-3 text-muted">
            @Html.DisplayNameFor(model => model.idCliente)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.idCliente)
        </dd>
        <dt class="col-sm-3 text-muted">
            Ruta
        </dt>
        <dd class="col-sm-9">
            @datosReserva.nombreRuta
        </dd>
        <dt class="col-sm-3 text-muted">
            Asientos
        </dt>
        <dd class="col-sm-9">
            @string.Join(", ", datosReserva.asientosSeleccionados)
        </dd>
        <dt class="col-sm-3 text-muted">
            Fecha y hora
        </dt>
        <dd class="col-sm-9">
            @datosRuta.fechaRuta
        </dd>
    </dl>
</section>
<section>
    <a asp-action="VerPagos", asp-controller="Pagos" class="mt-2 btn btn-warning">Volver a mis compras</a>
</section>
